*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.herosection{
	background-color:yellow;
	padding:60px 0 105px;
}
.herosection .navbar ul li{
	display:inline-block;

}

.navbar ul li{
	margin-left:35px;
	font-weight:bold;
}

.navbar ul li a{
	text-transform:capitalize;
	color:#010101;
	font-size:22px;
	font-weight:bold;
	padding:10px;
}

.navbar ul li .active{
	font-weight:300;
	
}

.herosection .inspiration .para{
	font-size:16px;
	font-weight:regular;
	color:#555;
	margin-bottom:35px;
}


.herosection .s-icons li{
	display:inline-block;
	margin-right:35px;
}
.herosection .s-icons li a{
	font-size:42px;
	color:#010101;
}
.herosection .hero-img{
	margin-left:18%;
}
.herosection .header{
	margin-bottom:60px;
}
.herosection .inspiration{
	margin-top:75px;
}
.herosection .s-icons li i:hover{
	transform:scale(1.2) rotate(360deg);
	transition:all 0.7s lineare;
}

/*................................................*/

.features-section{
	padding:75px;
	
}
.features-section .grid-features{
    margin-bottom:65px;
}

.features-section .thumnail{
	margin-bottom:90px;
	
}
.features-section .thumnail i{
  font-size:50px;
  font-weight:400;
  color:#010101;
}

.features-section .thumnail .thumnail-info h4{
  font-size:22px;
  font-weight:regular;
  color:#010101;
}

.features-section .thumnail .thumnail-info p{
  font-size:16px;
  font-weight:400;
  color:#898989;
}


/*..................................................................*/
.contact-section{
	padding:95px 0 135px;
	background-color:#010101;
}
.contact-section .form-group{
	margin-bottom:80px;
}

.sec-head{
	color:#313841;
	font-size:20px;
	font-weight:400;
	margin-bottom:25px;
}

.pri-head{
    font-size:32px;
	font-weight:bold;
	color:yellow;
	margin-bottom:25px;
}

.t-email{
	padding-left:25px;
	height:50px;
	width:80%;
	outline:none;
	border-radius:5px;
	
}

 .t-email::placeholder{
	font-size:16px;
	color:#898989;

}


.contact-section .sub-btn{
	width:125px;
	height:50px;
    border-radius:5px;
	background-color:yellow;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
	text-transform:uppercase;
}

.form-group{
	margin-bottom:80px;
}
.footer-icons li{
	display:inline-block;
	font-size:60px;
    
}
.footer-icons  a i{
	color:#fcdb00;
	font-size:42px;
	
}
.footer-icons{
	margin-bottom:130px;
}
.footer-list li a{
	color:#fff;
	text-transform:capitalize;
	font-size:16px;
	font-weight:400;
}


